.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: auto auto;
  width: 80%;
}
.Lift {
  width: 40%;
  text-align: center;
  margin-top: 40px;
  margin-right: 50px;
}
.Right {
  width: 40%;
}
.price {
  color: red;
}
img {
  width: 400px;
  height: 400px;
}

@media (max-width: 992px) {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .Lift {
    width: 100%;
  }
  .Right {
    width: 100%;
  }
}
